 /* inicio asignacion de area */
 .noticia1{
    grid-area: noti1;
    display: flex;
    align-items: center;
}
.noticia2{
    grid-area: noti2;
   @include align (center)
}
.noticia3{
    grid-area: noti3;
    @include align (center)
}
.noticia4{
    grid-area: noti4;
    @include align (center)
}
.noticia5{
    grid-area: noti5;
    @include align (center)
}
.local-grid{
    .aside1 {
        grid-area: aside1;
    }
    .aside2{
        grid-area: aside2;
    }
    .aside3{
        grid-area: aside3;
    }
    .aside4{
        grid-area: aside4;
    }
    .aside-v{
        grid-area: aside-v;
    }
} 



/*  Breakpoint MQ en Mobile */
    /* Pagina principal */
    @media (min-width:290px) and (max-width:580px){
        .main-grid{
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: repeat(9, 40vh);
            grid-template-areas:
            "noti1"
            "noti2"
            "noti3"
            "noti4"
            "aside1"
            "aside2"
            "aside3"
            "aside4"
            "aside-v"
            "googleCalendar";
            box-sizing: border-box;
            justify-content: center;
            gap: 10px;

                article{
                    h2{
                        border: solid 2px $primaryColor;
                        &:hover{
                            background-color: $primaryColor;
                            color: $secondaryColor;
                        }
                    }
                    .video-display{
                    margin-top: 0;;
                    }
                    p{
                        text-align: center;
                        font-weight: $textLight;
                    }
                    h3{
                        font-weight: $textBolt
                    }
                }
                section{
                    @include flex(column);
                    img{
                        width: 150px;
                        height: auto;
                    }
                    p{
                        text-align: center;
                    }
                    h2{
                        text-align: center;
                    }
                } 
                header{
                    width:100vw;
                    h1{
                        display: none;
                    }
                }   
                .w-70{
                    width: 100vw;
                }
                .googleCalendar{
                    overflow: hidden;
                    position: relative;
                    height: $heigth;
                    width: $width;
                    padding-bottom: 50%;
                    iframe{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: $width;
                        height: $heigth;
                    }
                }
                .video-display{
                    display: flex;
                    justify-content: center;
                    margin-top: 60px;
                    margin-bottom: 10px;
                }
                .noticia5{
                    display: none;
                }
                .img-aside{
                    display: flex;
                    justify-content: center;
                }
                .torneo-ofi{
                    text-align: center;
                }
                .noticia1{
                    @include overflow($width,hidden);
                }
                .noticia2{
                    @include overflow($width,hidden)
                }
                .noticia3{
                    @include overflow($width,hidden)
                }
                .noticia4{
                    @include overflow($width,hidden)
                }
                .aside1{
                    width: $width;
                    @include flex(column);
                    img{
                        width: $widthmid;
                        height: auto;
                    }
                }
                .aside2{
                    width: $width;
                    @include flex(column);
                    img{
                        width: $widthmid;
                        height: auto;
                    }
                }       
                .aside3{
                    width: $width;
                    @include flex(column);
                    img{
                        width: $widthmid;
                        height: auto;
                    }
                }
                .aside4{
                    width: $width;
                    @include flex(column);
                    img{
                        width: $widthmid;
                        height: auto;
                    }
                }
                aside{
                    p{
                        width: 95vw;
                        text-align: center;
                    }
                    h4{
                        font-size: $textMd;
                    }
                } 
                .aside-noti{
                    width: 100vw;
                }
        }

            nav img{
                width: 20vw;
            }
            .border-video{
                width: 100vw;
                border: none;
            }
             footer{
                width: 100vw;
                h3{
                    width: 95vw;
                }
                .logo-footer{
                    display: none;
                }
            }
        /* END Pagina Principal */
    
        /* Pagina Local */
    .local-grid{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(8, 40vh);
        grid-template-areas:
        "noti1"
        "noti2"
        "noti3"
        "noti4"
        "aside1"
        "aside2"
        "aside3"
        "aside4"
        "aside-v";
        box-sizing: border-box;
        justify-content: center;
        gap: 5px;

        section{
            margin-bottom: 5px;
            @include flex(column);
            img{
                width: 150px;
                height: auto;
            }
            h2{
                text-align: center;
                font-weight: $textBolt;
            }
        } 
        article{
        background-color: rgb(70, 70, 70);
        margin-bottom: 5px;
        @include flex(column);
        img{
            margin-left: 80px;
        }
        }
        p{
            text-align: center;
            font-weight: $textLight
        }
        h3{
            font-weight: $textBolt
        }
        .noticia1{
            @include overflow($width,hidden);
            
        }
        .noticia2{
            @include overflow($width,hidden)
        }
        .noticia3{
            @include overflow($width,hidden)
        }
        .noticia4{
            @include overflow($width,hidden)
        }
        .noticia5{
            display: none;
        }
        .aside1{
            width: $width;
            @include flex(column);
            img{
                width: $widthmid;
                height: auto;
            }
        }
        .aside2{
            width: $width;
            @include flex(column);
            img{
                width: $widthmid;
                height: auto;
            }
        }       
        .aside3{
            width: $width;
            @include flex(column);
            img{
                width: $widthmid;
                height: auto;
            }
        }
        .aside4{
            width: $width;
            @include flex(column);
            img{
                width: $widthmid;
                height: auto;
            }
        }
        aside{
            p{
                width: 95vw;
                text-align: center;
            }
            h4{
                font-size: $textMd;
            }
        } 
        .aside-noti{
            width: 100vw;
        }

    }

       .torneo-ofi{
        text-align: center;
       }
        .border-h2{
        border: solid 2px $primaryColor;
       }
       .text-line{
        text-decoration: underline;
       }
        /* END Pagina Local */
    
        /* inicio Pagina Internacional */
       .inter-grid{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(8, 40vh);
        grid-template-areas:
        "noti1"
        "noti2"
        "noti3"
        "noti4"
        "aside1"
        "aside2"
        "aside3"
        "aside4"
        "aside-v";
        box-sizing: border-box;
        justify-content: center;
        gap: 5px;
       }
       .inter-grid{
            section{
                margin-bottom: 5px;
                img{
                    width: 150px;
                    height: auto;
                }
            }
            article{
                background-color: rgb(70, 70, 70);
                margin-bottom: 5px;
            }
        }  
       .torneo-ofi{
        text-align: center;
       }
        .border-h2{
        border: solid 2px $primaryColor;
       }
       .text-line{
        text-decoration: underline;
       }
       .contacto-grid{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 600px 200px repeat(4, 40vh);
        grid-template-areas:
        "form-register"
        "iframe-map"
        "aside1"
        "aside2"
        "aside3"
        "aside4";
        box-sizing: border-box;
        justify-content: center;
        gap: 5px;
        row-gap: 30px;
            section{
                margin-bottom: 5px;
                height: 100%;
            }
            article{
                background-color: rgb(70, 70, 70);
                margin-bottom: 5px;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                img{
                    margin-left: 20% ;
                    margin-top: 10px;
                }
                p{
                    text-align: center;
                }
            }
            .form-register{
                width: 90%;
            }
            .iframe-map{
                display: block;
                justify-content: center;
                width: 100%;
                margin-bottom: 40px;
                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
            main h2{
                text-align: center;
            }
        }
       .otros-dep{
        @include flex(center);
        margin-top: 10px;
       }
    } 
        /* end MQ en Mobile */
    
        /* 2do Breakpoint Incio MD para Tablet */
        /* GRID pagina principal */
    @media (min-width:581px) and (max-width:1199px){
        .main-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:repeat(6,250px);
            grid-template-areas:
            "noti1 noti2 noti3"
            "noti1 noti2 noti3"
            "noti4 noti5 aside1"
            "noti4 noti5 aside2"
            "aside-v aside-v aside3"
            "aside-v aside-v googleCalendar";
            gap: 10px;
            section{
                border: solid 2px rgb(82, 81, 67);
                p{
                    text-align: center;
                }
                h2{
                    text-decoration: underline;
                    overflow: hidden;

                }
            } 
            article{
                border: solid 2px rgb(82, 81, 67);
                overflow: hidden;
                h2{
                    border: solid 2px $primaryColor;
                    text-align: center;
                    &:hover{
                        background-color: $primaryColor;
                        color: $secondaryColor;
                    }
                }
                h3{
                    font-size: $textSm;
                    font-weight: $textBolt;
                }
                p{
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-weight: $textLight;
                }
                img{
                    margin-left: 50px;
                }
            }
            .aside1{
                grid-area: aside1;
                width: $width;
                @include flex(column);
                img{
                    width: $widthmid;
                    height: 100px;
                }
            }
            .aside2{
                grid-area: aside2;
                width: $width;
                @include flex(column);
                img{
                    width: $widthmid;
                    height: 100px;
                }
            }
            .aside3{
                grid-area: aside3;
                width: $width;
                @include flex(column);
                img{
                    width: $widthmid;
                    height: auto;
                }
            }
            .aside-v{
                grid-area: aside-v;
            }
            .noticia1{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
            .noticia2{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
            .noticia3{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
            .noticia4{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
            .noticia5{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
        }

        .texto-borde{
            -webkit-text-stroke: 1px $secondaryColor;
            color: $colorletter;
            font-size: $textLg;
            text-shadow: 1px 1px 2px $secondaryColor, 0 0 1em $secondaryColor, 0 0 0.2em $secondaryColor;
        }
        .sombra{
            text-shadow: 1px 1px 2px $secondaryColor, 0 0 1em $secondaryColor, 0 0 0.2em $secondaryColor;
        }

        main h2{
            text-align: center;
        }
        
        /* END Pagina principal */
    
        /* GRID Pagina Local */
        .local-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:repeat(5,250px) 300px;
            grid-template-areas:
            "noti1 noti1 noti2"
            "noti1 noti1 noti2"
            "noti3 noti4 noti5"
            "noti3 noti4 noti5"
            "aside1 aside2 aside3"
            "aside4 aside-v aside-v";
            gap: 10px;
            section{
                p{
                    font-size: $textSm;
                    font-weight: $textLight;
                    text-align: center;
                }
                h2{
                    font-weight: $textBolt;
                }
            }
            .aside4{
                img{
                    width: $widthmid;
                    height: auto;
                }
            }
            article{
                overflow: hidden;
                border: solid 1px $borders;
                h2 {
                    border: solid 2px $primaryColor;
                    &:hover{
                        background-color: $primaryColor;
                        color: $secondaryColor;
                    } 
                }
                h3{
                    font-size: $textSm;
                    font-weight: $textBolt;
                }
                img{
                    margin-left: 50px;
                }
                p{
                    text-align: center;
                    font-weight: $textLight;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-weight: $textLight;
                }
            } 
            .noticia1{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
            .noticia2{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
            .noticia3{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
            .noticia4{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
            .noticia5{
                width: $width;
                @include flex(column);
                img{
                width: 200px;
                height: auto;
                }
            }
            .aside1{
                grid-area: aside1;
                width: $width;
                @include flex(column);
                img{
                    width: $widthmid;
                    height: 100px;
                }
            }
            .aside2{
                grid-area: aside2;
                width: $width;
                @include flex(column);
                img{
                    width: $widthmid;
                    height: 100px;
                }
            }
            .aside3{
                grid-area: aside3;
                width: $width;
                @include flex(column);
                img{
                    width: $widthmid;
                    height: auto;
                }
            }
        }
        .contacto-grid{
            main h2{
                text-align: center;
            }
            .iframe-map{
            @include flexx(center,center,column)
            }
            .section-img {
                margin-top: 10px;
                margin-left: 25%;
            }
        } 
    }   
    
        /* End BreakPoint MQ en table */
    
        /* Breakpoint MQ Desktop */
        /* GRID pagina principal */
    @media (min-width:1200px){
        .main-grid{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 15%);
        grid-template-rows: repeat(5, 300px);
        grid-template-areas: 
        "noti1 noti1 noti1 aside1"
        "noti2 noti2 noti2 aside2"
        "noti3 noti3 noti3 aside3"
        "noti4 noti4 noti4 aside-v"
        "noti5 noti5 noti5 aside";
        gap: 5px;
            aside{
                img{
                    width: 150px;
                    height: 100px;
                }
            }
            section{
                img{
                    width: 250px;
                    height: auto;
                    margin-left: 5px;
                }
                h2{
                    text-align: center;
                    text-decoration: underline;
                    overflow: hidden;
                    font-size: $textMd;
                }
                p{
                    margin-left: 5px;
                }
                &:hover{
                    transform: scale(1.03);
                    transition: all 0.8s;
                    cursor: pointer;
                }
            }
            article{
                overflow: hidden;
                border: solid 1px $borders;
                h2{
                    border: solid 2px $primaryColor;
                    &:hover{
                        background-color:$primaryColor;
                        color: $secondaryColor;
                    }
                }
                h3{
                    font-size: $textSm;
                    font-weight: $textBolt;
                }
                img{
                    width: 70%;
                    margin-left: 30px
                }
                p{
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-weight: $textLight;
                }
            }
            .video-display{
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                overflow: hidden;
            }
            .border-video{
                border: solid 2px $primaryColor;
                border-radius: 3px;
            }
            .googleCalendar{
                position: relative;
                height: 100%;
                width: 100%;
                padding-bottom: 50%;
                }
                  
            .googleCalendar iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .texto-borde{
            -webkit-text-stroke: 1px $secondaryColor;
            color: $colorletter;
            font-size: $textLg;
            text-shadow: 1px 1px 2px $secondaryColor, 0 0 1em $secondaryColor, 0 0 0.2em $secondaryColor;
        }
        .sombra{
            text-shadow: 1px 1px 2px $secondaryColor, 0 0 1em $secondaryColor, 0 0 0.2em $secondaryColor;
        }
        .torneo-ofi{
            margin-left: 320px;
            margin-top: 30px;
            &:hover{
                color: $primaryColor;
            }
        }
        /* END Pagina principal */
    
        /* GRID pagina local */
        .local-grid{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5, 15%) ;
        grid-template-rows: repeat(5, 300px) ;
        grid-template-areas: 
        "noti1 noti1 noti2 noti2 aside1"
        "noti1 noti1 noti2 noti2 aside2"
        "noti3 noti3 noti4 noti4 aside3"
        "noti3 noti3 noti4 noti4 aside4"
        "noti5 noti5 noti5 aside-v aside-v";
        gap: 5px;
            section{
                @include flexx(center,none,column);
                img{
                    width: 60%;
                    overflow: hidden;
                }
                h2{
                    text-align: center;
                    text-decoration: underline;
                }
                p{
                    text-align: center;
                }
            }
            aside{
                @include flex(center);
            }
            .noticia5{
                img{
                    width: 30%;
                    height: auto;
                }
            }
            .torneo-ofi{
                margin-left: 230px;
                margin-top: 30px;
                &:hover{
                    color: $primaryColor;
                }
            }
            article{
                h2 {
                    border: solid 2px $primaryColor;
                    &:hover{
                        background-color: $primaryColor;
                        color:$secondaryColor;
                    }
                }
                img{
                    width: 70%;
                    margin-left: 30px
                }
                h3{
                    font-size: $textSm;
                    font-weight: $textBolt;
                }
                p{
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-weight: $textLight;
                }
            }
            .bg-aside{
                background-color: rgb(58, 58, 58);
            } 
            .c-border{
                border: 2px solid $primaryColor;
            }
            .texto-borde{
                -webkit-text-stroke: 1px $secondaryColor;
                color: $colorletter;
                font-size: $textLg;
                text-shadow: 1px 1px 2px $secondaryColor, 0 0 1em $secondaryColor, 0 0 0.2em $secondaryColor;
            }
            .sombra{
                text-shadow: 1px 1px 2px $secondaryColor, 0 0 1em $secondaryColor, 0 0 0.2em $secondaryColor;
            }
        }
        .local-grid{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5, 15%) ;
        grid-template-rows: repeat(5, 300px) ;
        grid-template-areas: 
        "noti1 noti1 noti2 noti2 aside1"
        "noti1 noti1 noti2 noti2 aside2"
        "noti3 noti3 noti4 noti4 aside3"
        "noti3 noti3 noti4 noti4 aside4"
        "noti5 noti5 noti5 aside-v aside-v";
        gap: 5px;
            section {
                @include flexx(center,none,column);
                img{
                    width: 60%;
                    overflow: hidden;
                }
                h2{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
            aside{
                @include flex(center);
            }
            .noticia5{
                img{
                    width: 30%;
                    height: auto
                }
            }
            article{ 
                overflow: hidden;  
                h2 {
                    border: solid 2px $primaryColor;
                    &:hover{
                        background-color: $primaryColor;
                        color: $secondaryColor;
                    }
                }
            }
            .bg-aside{
                background-color: rgb(58, 58, 58);
                } 
            .c-border{
                border: 2px solid $primaryColor;
            }
            .torneo-ofi{
                margin-left: 230px;
                margin-top: 30px;
                &:hover{
                    color: $primaryColor;
                }
            }
            .texto-borde{
                -webkit-text-stroke: 1px $secondaryColor;
                color: $colorletter;
                font-size: $textLg;
                text-shadow: 1px 1px 2px $secondaryColor, 0 0 1em $secondaryColor, 0 0 0.2em $secondaryColor;
            }
            .sombra{
                text-shadow: 1px 1px 2px $secondaryColor, 0 0 1em $secondaryColor, 0 0 0.2em $secondaryColor;
            }
        }
     
        .contacto-grid{
            .iframe-map{
                @include flexx(center,center,column);
                margin-top: 20px;
                margin-bottom: 50px;
            }
            article{
                background-color: $articleColor;
                img {
                    width: 300px;
                    height: auto;
                    margin-left: 40%;
                    margin-top: 10px;
                }
                p{
                    text-align: center;
                }
            }
            .otros-dep{
                text-align: center;
            }
            .aside1{
                border: 2px solid $primaryColor;
                @include flex(column);
                margin-left: 50px;
                width: 95%;
            }
            .aside2{
                border: 2px solid $primaryColor;
                @include flex(column);
                margin-left: 50px;
                margin-top: 20px;
                width: 95%;
            }
            .aside3{
                border: 2px solid $primaryColor;
                @include flex(column);
                margin-left: 50px;
                margin-top: 20px;
                width: 95%;
            }
            .aside4{
                border: 2px solid $primaryColor;
                @include flex(column);
                margin-left: 50px;
                margin-top: 20px;
                width: 95%;
            }
        } 
    }
        /* END Pagina Local */
        /* end MQ Desktop */