$primaryColor: gold;
$secondaryColor: black;
$colorletter: white;
$mainColor: rgb(34, 34, 34);
$articleColor:#363636;


$mainFonts: 'Roboto', sans-serif;
$textLight: 400;
$textBolt: 900;

$width: 100%;
