$primaryColor: gold;
$secondaryColor: black;
$colorletter: white;
$mainColor: rgb(34, 34, 34);
$articleColor:#363636;


$mainFonts: 'Roboto', sans-serif;
$textSm: 1em;
$textMd: 1.4em;
$textLg: 2.3em;
$textLight: 400;
$textBolt: 900;


$width: 100%;
$widthmid: 50%;
$heigth: 100%;
$heigthmid: 50%;
